<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Logowanie</title>
</head>
<body>
    <div class="topnav">
        <p>Sklep internetowy</p>
        <a class="active" href="/login">Logowanie</a>
        <a href="/items">Oferta</a>
        <a href="/">Strona główna</a>
    </div>

    <div class="loginbox">
        <form method="post">
            <label for="login">Login</label>
            <input type="text" id="login" name="login" value="<%= login %>">

            <label for="password">Hasło</label>
            <input type="password" id="password" name="password" value="<%= password %>">

            <% if ( message ) { %>
                <div class="message">
                    <%= message %>
                </div>
            <% } %>

            <input type="submit" value="Zaloguj">
        </form>
    </div>

    <div class="registerbox">
        <p>
            Nie masz konta?
        </p>
        <a href="/sign_in">Zarejestruj się</a>
    </div>

    
    
</body>
</html>